/* style/giris.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.container {
    width: 400px;
    margin: 0 auto;
    padding: 100px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container h2 {
    margin-bottom: 20px;
    color: #007bff;
}

.container form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.container form input[type="text"], .container form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}


.container form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.container form input[type="submit"]:hover {
    background-color: #0056b3;
}

.container form a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
    display: flex;
    margin-top: 10px;
}

.container form a:hover {
    color: #0056b3;
}


.form-group {
    text-align: left;
}

.form-group {
    text-align: left; /* Labelları sola hizala */
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"], .form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-group a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
    display: flex;
}

.form-group a:hover {
    color: #0056b3;
}